<div class="sidebar"> 
    <div class="container" style="margin-top: 80px; text-align: right; margin-right: 30px">
      
        <div class="sidebar-about" style="margin-bottom: 30px">
        
            <h1>
            <!--<a href="{{ site.baseurl }}">
              {{ site.title }}
            </a>-->
              {{ site.title }}
            </h1>
        
            <p class="lead">{{ site.description }}</p>
            
            <p style="font-size: 14px"><i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 2px"></i> Southampton</p>

            <a href="https://uk.linkedin.com/in/marcos-tam-aa415ab9" target=_blank>
                <i class="fa fa-linkedin-square" aria-hidden="true" style="margin-right: 4px"></i>
            </a>
            <a href="mailto:marcosss.3@hotmail.com" target="_top">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        
    </div>

    <nav class="sidebar-nav">
        
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About</a>

      <a class="sidebar-nav-item{% if page.url == '/portfolio/' %} active{% endif %}" href="{{ site.baseurl }}portfolio">Portfolio</a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

  </div>
</div>